{% extends "layout.html" %}

{% block title %} RCB Squad {% endblock title %}

{% block content %}
<div>
    <h1 class="bg-green-500 text-3xl">PLAYERS BROUGHT AT AUCTION</h1>
    <ol>
        <li>Liam Livingstone – ₹8.75 crore</li>
        <li>Phil Salt – ₹11.5 crore</li>
        <li>Jitesh Sharma – ₹11 crore</li>
        <li>Josh Hazlewood – ₹12.5 crore</li>
        <li>Rasikh Salam Dar – ₹6 crore</li>
        <li>Suyash Sharma – ₹2.6 crore</li>
        <li>Krunal Pandya – ₹5.75 crore</li>
        <li>Bhuvneshwar Kumar – ₹10.75 crore</li>
        <li>Swapnil Singh (RTM) – ₹50 lakh</li>
        <li>Tim David – ₹3 crore</li>
        <li>Romario Shepherd – ₹1.5 crore</li>
        <li>Nuwan Thushara – ₹1.6 crore</li>
        <li>Manoj Bhandage – ₹30 lakh</li>
        <li>Jacob Bethell – ₹2.6 crore</li>
        <li>Devdutt Padikkal – ₹2 crore</li>
        <li>Swastik Chikara – ₹30 lakh</li>
    </ol>
</div>
{% endblock content %}
