{% extends "layout.html" %}
{% block title %}
       Playing 11
{% endblock %}

{% block content %}
<h1>Playing 11</h1>
    <ol>
        <li>Virat Kohli (c)</li>
        <li>Philp Salt (wk)</li>
        <li>Rajat Patidar</li>
        <li>Jacob Bethel</li>
        <li>Liam Livingstone</li>
        <li>Jitesh Sharma</li>
        <li>Krunal Pandya</li>
        <li>Bhuvaneshwar Kumar</li>
        <li>Suyesh Sharma</li>
        <li>Rasik dar salam</li>
        <li>Yash dayal</li>
    
{% endblock content %}


